* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #1f0d0d;
  color: #fff;
}
header .header__logo {
  z-index: 20;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  header .header__logo {
    width: 90%;
  }
}
header .header__logo .mobile__button {
  display: none;
}
@media only screen and (max-width: 991px) {
  header .header__logo .mobile__button-icon {
    font-size: 40px;
    background-color: rgba(90, 60, 60, 0);
    color: #fff;
    border: none;
  }
}
header .header__logo .header__logo-title {
  font-size: 25px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 991px) {
  header .header__logo .header__logo-title {
    font-size: 30px;
  }
}
header .header__logo .header__nav {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 90px;
       column-gap: 90px;
  align-items: center;
}
header .header__logo .header__nav .header__nav-home {
  font-size: 15px;
  border-bottom: 1px solid;
}
@media only screen and (max-width: 991px) {
  header .header__logo .header__nav .header__nav-home {
    display: none;
  }
}
header .header__logo .header__nav .header__nav-shoping {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
header .header__logo .header__nav .header__nav-shoping .nav__shoping-icon {
  font-size: 20px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  header .header__logo .header__nav .header__nav-shoping .nav__shoping-icon {
    font-size: 25px;
  }
}
header .header__logo .header__nav .header__nav-shoping .nav__shoping-info {
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  header .header__logo .header__nav .header__nav-shoping .nav__shoping-info {
    font-size: 20px;
  }
}
header .header__logo .header__nav .header__nav-shoping .nav__shoping-info:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

main .mainpage {
  background: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/marlowliteypxjs/Group%204291.png);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  height: 800px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  main .mainpage {
    display: flex;
    align-items: center;
  }
}
main .mainpage .bcimage {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main .mainpage .bcimage__title {
  padding-top: 3%;
  padding-bottom: 15%;
  font-size: 25px;
}
@media only screen and (max-width: 991px) {
  main .mainpage .bcimage__title {
    padding-bottom: 5%;
  }
}
main .mainpage .bcimage__main {
  font-size: 80px;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  main .mainpage .bcimage__main {
    width: 100%;
  }
}
main .mainpage .bcimage__info {
  padding-top: 5%;
  font-size: 22px;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 100px auto;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
}
@media only screen and (max-width: 991px) {
  main .cards {
    width: 90%;
  }
}
main .cards__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media only screen and (max-width: 991px) {
  main .cards__form {
    width: 100%;
  }
}
main .cards__form-image {
  width: 380px;
  height: 400px;
}
@media only screen and (max-width: 991px) {
  main .cards__form-image {
    width: auto;
    height: auto;
  }
}
main .cards__form-image:hover {
  filter: grayscale(80%);
}
main .cards__form-info {
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  main .cards__form-info {
    font-size: 20px;
  }
}
main .cards__form-price {
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  main .cards__form-price {
    font-size: 20px;
  }
}

footer {
  background-color: #1f0d0d;
  color: #fff;
}
footer .bottom {
  padding: 80px 0;
  width: 80%;
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  footer .bottom {
    width: 100%;
  }
}
footer .bottom .left {
  width: 49%;
}
footer .bottom .left .right {
  display: flex;
}
footer .bottom .left .right .contact__social-icons {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 10%;
}
footer .bottom .left .right .contact__social-icons .fa-twitter {
  font-size: 30px;
}
footer .bottom .left .right .contact__social-icons .fa-facebook {
  font-size: 30px;
}
footer .bottom .left .right .contact__social-icons .fa-instagram {
  font-size: 30px;
}/*# sourceMappingURL=marlow.css.map */