* {
  margin: 0;
  padding: 0;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
body,
html {
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
.transformX {
  transform: translateX(100%);
}
.transformY {
  transform: translateY(-100%);
}
.hidden {
  display: none;
}
.block {
  display: block;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  .header {
    height: 84px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .header__items {
      align-items: center;
      width: 1200px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .nav {
      &__lists {
        display: flex;
        column-gap: 30px;
        margin: 0 70px;
    
        &-info {
          color: #000;
          font-size: 14px;
     
        }
        .nav__lists-info {
          color: #000;
          font-weight: 500;
        }
        .nav__lists-info:hover {
          color: #6c7ae0;
          transition: all linear 0.35s;
          cursor: pointer;
        }
        #nav__lists-info {
          color: #6c7ae0;
        }
      }
    }
    .header__icons {
      &-info {
        margin-left: 30px;
        i {
          color: #000;
          font-size: 21px;
        }
        i:hover {
          color: #6c7ae0;
          transition: all linear 0.2s;
          cursor: pointer;
        }
      }
    }
  }
}
.search {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  height: 100%;
  width: 100%;
  bottom: 0;
  transition: 0.4s;
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40%;
    form {
      z-index: 2000;
      position: relative;
      width: 960px;
      height: 120px;
      background: #fff;
      border: 2px solid #e6e6e6;
      input {
        width: 860px;
        height: 100%;
        font-size: 50px;
        line-height: 1.2;
        outline: none;
        border: none;
        padding-left: 90px;
        color: #333;
      }
      input::placeholder {
        color: #333;
        opacity: 0.7;
      }
      .fa-magnifying-glass {
        color: #333;
        position: absolute;
        left: 3.2%;
        top: 35%;
        font-size: 35px;
      }
    }
    form:hover {
      border: 2px dashed rgb(16, 3, 39);
    }
    .search__close-icon {
      z-index: 2000;
      position: absolute;
      right: 15.5%;
      top: -30%;
      width: 25px;
      height: 25px;
      opacity: 0.6;
    }
    .search__close-icon:hover {
      scale: 1.1;
      transition: all linear 0.2s;
      opacity: 1;
      cursor: pointer;
    }
  }
  .search__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.shopBag {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 390px;
  height: 100vh;
  background-color: #fff;
  transition: 0.4s;
  .container {
    width: 80%;
    margin: 0 auto;
    .containers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 10px;
      &__title {
        font-size: 18px;
        line-height: 1.3;
        color: #333;
      }
      &__icon {
        opacity: 0.8;
      }
      .containers__icon:hover {
        opacity: 1;
        scale: 1.1;
        transition: all linear 0.4s;
        cursor: pointer;
      }
    }
    &__boxes {
      .container__box {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding-top: 30px;
        &-image:hover {
          cursor: pointer;
        }
        &-info {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          .container__box-text {
            font-size: 14px;
            color: #555;
          }
          .container__box-text:hover {
            color: #717fe0;
            transition: all linear 0.35s;
            cursor: pointer;
          }
          .container__box-text2 {
            font-size: 14px;
            color: #888;
          }
        }
      }
    }
    &__total {
      padding: 180px 0;
      &-title {
        font-size: 18px;
        color: #222;
      }
      .container__btn {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        &-cart {
          border-radius: 20px;
          cursor: pointer;
          background-color: #222;
          color: #fff;
          align-items: center;
          width: 145px;
          height: 40px;
          border: none;
          .btn__text {
            font-size: 14px;
          }
        }
        .container__btn-cart:hover {
          background-color: #717fe0;
          transition: all linear 0.2s;
        }
      }
    }
  }
  .shopBag__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.bgAbout__image {
  background-image: url(https://preview.colorlib.com/theme/cozastore/images/bg-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 250px;
  .bgAbout__title {
    font-size: 50px;
    padding: 92px 0;
    text-align: center;
    color: #fff;
  }
}

.stories {
  width: 80%;
  margin: 0 auto;
  padding-top: 75px;
  .story {

    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    &__info {
      &-title {
        padding-bottom: 30px;
        color: #333;
        font-size: 25px;
      }
      &-text {
        width: 685px;
        padding-bottom: 26px;
        color: #888;
        font-size: 14px;
      }
    }
    &__image {
      position: relative;
      &::after {
        content: '';
        width: 100%;
        height: 370px;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px dashed #ccc;
        transform: translateX(-20px) translateY(20px);
        z-index: -1;
      }

      &-photo {
        width: 370px;
        height: 370px;
        overflow: hidden;
        img {
          width: 370px;
          height: 370px;
   
        }
        img:hover {
          scale: 1.1;
          transition: all linear 0.3s;
        }
      }
      &-picture {
        width: 370px;
        height: 370px;
        overflow: hidden;
        img {
        width: 370px;
        height: 370px;
        }
        img:hover {
          scale: 1.1;
          transition: all linear 0.3s;
        }
      }
    }
  }
}
footer {
  background-color: #222;
  width: 1519px;
  height: 420px;
  .footers {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    &__list {
      &-title {
        width: 270px;
        color: #fff;
        font-size: 15px;
        line-height: 1.6;
        padding-bottom: 30px;
      }
      &-text {
        width: 270px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 76px;
        .footer__link:hover {
          color: #717fe0;
          transition: all linear 0.35s;
          cursor: pointer;
        }
        .footer__link {
          width: 270px;
          color: #b2b2b2;
          font-size: 13px;
        }
      }
      .footers__list-info {
        width: 270px;
        color: #b2b2b2;
        font-size: 13px;
        line-height: 2;
      }
      .footers__list-icons {
        width: 270px;
        font-size: 18px;
        color: #b2b2b2;
        display: flex;
        column-gap: 20px;
        padding-top: 27px;
        :hover {
          color: #717fe0;
          transition: all linear 0.35s;
          transform: rotate(360deg);
          cursor: pointer;
        }
      }
      input {
        display: block;
        width: 270px;
        height: 25px;
        background-color: transparent;
        border-bottom: 2px solid rgba(204, 204, 204, 0.1);
        outline: none;
        color: #b2b2b2;
        border-right: none;
      }
      .footers__list-btn {
        margin-top: 25px;
        border-radius: 23px;
        cursor: pointer;
        background-color: #717fe0;
        color: #fff;
        align-items: center;
        width: 179px;
        height: 46px;
        border: none;
        .footers__list-btnText {
          font-size: 14px;
        }
      }
      .footers__list-btn:hover {
        background-color: #fff;
        color: #717fe0;
        transition: all linear 0.4s;
        cursor: pointer;
      }
    }
  }
  .icon__pay {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    img:hover {
      cursor: pointer;
    }
  }
}
