*{
    margin: 0;
    padding: 0;
}
img{
    width:150px;
    height: 150px;
    
}
h3{
    margin-top: 10px;
    text-transform: capitalize;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .7;
}
input{
    margin-top: 10px;
}
span{
    margin-top:20px;
   
}
.yuhari_div{
    margin-left: 100px;
    h3{
        text-transform: uppercase;
        font-size: 20px;
    }
}

.ruslan{
    opacity: .5;
    text-decoration: line-through;
}


.green_1{
    color: green;
}
.all{
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    text-align: left;
    margin-left: 150px;
    margin-top: 10px;
}

.photo1{
  margin-right: 20px;
  background-color: rgb(253, 249, 249);
  margin-top: 30px;
  padding: 30px 20px 10px;
  img{
    margin: 5px;
  }
  

}